#grid{
    display:flex;
    justify-content: center;
}

.boxContainer{
    display: flex;
    width: 800px;
    height: 50px;
}
.box {
    display:flex;
    flex-wrap: wrap;
    flex-basis: 48px;
    max-width: 48px;
    min-width: 48px;
    height: 48px;
    border: 1px solid black;
  }

